<?xml version='1.0' encoding='utf-8'?>
<widget id="example.tabris.javascript" version="0.1.0">
  <name>Tabris Javascript</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="lisamarieherzberg@gmail.com">
    John Smith
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
